.teachers-container {
  width: 100%;
  padding: 20px;

  .action-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 14px;
    
    .search-group {
      display: flex;
      gap: 10px;
      
      .el-input {
        width: 260px;
      }
    }
  }
  
  .teacher-list {
    width: 100%;
    border: 1px solid var(--border-color);
  }
  
  .w-full {
    width: 100%;
  }
}  