.course-edit {
  .edit-card {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .edit-form {
    padding: 20px;
    
    :deep(.el-input-number) {
      width: 180px;
    }
  }
}

.w-full {
  width: 100%;
} 