.students-container {
  width: 100%;
  padding: 20px;

  .action-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 14px;
  }

  .student-list {
    width: 100%;
    border: 1px solid var(--border-color);
  }
}

.students-container, .teachers-container {
  .el-button {
    &.el-button--success {
      color: var(--el-color-success);
      &:hover { color: var(--el-color-success-light-3); }
    }
    &.el-button--danger {
      color: var(--el-color-danger);
      &:hover { color: var(--el-color-danger-light-3); }
    }
  }
}